<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Изменение пользователя</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/changeUser/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="username">Enter username:</label>
    <input type="text" th:field="*{username}" id="username">
    <br/>

    <label for="password">Enter password:</label>
    <input type="text" th:field="*{password}" id="password">
    <br/>

    <label for="email">Enter email:</label>
    <input type="text" th:field="*{email}" id="email">
    <br/>

    <input type="submit" value="Обновить пользователя"/>
</form>
<a href="/logout">Logout</a>
</body>
</html>